---
---
<html>
<head>
<title>Grainy Pictures, Inc. - Answer Archive</title>
</head>

<body BACKGROUND="../images/bg.gif" LINK="#003366" VLINK="#003366">

<center>

<table width="580" border=0 cellspacing=0 cellpadding=0>
<tr>
<td height="67" width="580" valign=top><img vspace="1" WIDTH="1" HEIGHT="1" src="../images/pixel.GIF" ALT=""><br>
<a href="../book/index.html"><img align=right WIDTH="162" HEIGHT="60" src="../images/spikead.gif" BORDER=0></a><img WIDTH="362" HEIGHT="58" src="../images/grainyp.gif" USEMAP="#top" BORDER=0></td>
</tr>
</table>
<br>

<table width="580" border=0 cellspacing=0 cellpadding=0>
<tr>
<td><center><img width="579" HEIGHT="20" src="../images/bar.gif" USEMAP="#bar" BORDER=0></center><p>
<img src="../images/answerhead.gif"><br>
<img vspace="5" src="../images/pixel.GIF" ALT=""></td>
</tr>
</table>
<br>

<table width="540" border=0>
<tr>
<td><font size="+2" face="arial, helvetica"><b>John Responds</b> (Blair Witch and Haxan Films)</font><br>
<font size="1">Posted by John Pierson - May 7th, 1998</font><p>


First of all, for those of you who don't know, I grew up in Maryland where I learned state history and geography. Yet when
Dan Myrick of Haxan Films sent me a demo tape called "The Blair Witch Project" about a year ago, I was so swept up in the
creepy story of the supernatural and three missing film students that it never once occurred to me that there is no Blair County
in Western Maryland. The eerie and compelling quality of the original sample made me suspend my disbelief and overlook
certain implausibilities in the backstory.
<p>

That's why we decided to become accomplices to Dan and his partners Ed Sanchez and Gregg Hale even after learning that
their project was an invented fiction. Having provided seed money to Yvonne Welbon for her documentary "Sisters in
Cinema" and set-up the link between IFC and Steve Yeager for the completion of his terrific John Waters opus "Divine Trash",
we want feature films to grow out of segments on the show. Like many film mavens, I am fascinated by the faux documentary
form (e.g. "Dadetown" or "Hard Core Logo", if you can find them.) And since we now make a television show, "Blair Witch"
seemed like a perfect opportunity to mix in a little "X-Files", with a pinch of "Dateline", and season with a good old series
cliffhanger to end our 1997 season. So far so good.
<p>

But once we promised to reveal what was in the muddy bag in the 1998 season premiere, I did spend considerable time
mulling over the moral issues. I'm pretty comfortable with the balance we struck. The segment apparently had huge
entertainment value. Yet most astute viewers (as evidenced by the many postings on this site) spotted more than a few
discrepancies, inconsistencies, implausibilities, and just plain behavioral idiocies on the part of the "missing" filmmakers.
(Although I'm still not sure what was wrong with the tears, and the twig men freaked me out no matter what non-native
materials they were made of.) In order to believe the season premiere, you would really have to want to believe. That's why I
went on camera to encourage all of you to weigh in with your opinions.
<p>

So in the end "Split Screen" played with the form in what I am convinced was a responsible manner, stirred up a hornets nest
of feedback, and most importantly, enabled Haxan Films to shoot over a third of their feature. And by the way, to you
punsters out there, Dan, Ed and Greg are smart, gifted filmmakers - not hacks-in-film. They're just really bad at getting up
their website.
<p>

John
<p>

PS If I ruled the television world, a segment like Pocket Cinema would change people's lives and Blair Witch mania would
fade away. But we don't want "Split Screen" to be a tree that falls in the
cable forest that no one hears.<p>

For further info on Haxan Films and thew Blair Witch Project, check out <a
href="http://www.blairwitch.com">www.blairwitch.com</a>.
</td>
</tr>

</table>
<br>

<img vspace="20" src="../images/pixel.GIF" ALT=""><br>

{% include footer.html %}
<p>

<center><font face="courier, monaco" color="#555555" size="1">Disclaimer: Do not send scripts!  We won't read them because we don't
produce films from the script stage.<p>

&copy; 1997 Grainy Pictures, Inc.</font>


<!-- Begin Client Side Imagemap -->
{% include barmap.html %}
		

{% include topmap.html %}
		
</body>
</html>
