---
---
<html>
<head>
<title>Grainy Pictures, Inc. - What's New</title>
</head>

<body BACKGROUND="images/bg.gif" LINK="#003366" VLINK="#003366">

<center>

<table width="580" border=0 cellspacing=0 cellpadding=0>
<tr>
<td height="67" width="580" valign=top><img vspace="1" WIDTH="1" HEIGHT="1" src="images/pixel.GIF" ALT=""><br>
<a href="book/index.html"><img align=right WIDTH="162" HEIGHT="60" src="images/spikead.gif" BORDER=0></a><img WIDTH="362" HEIGHT="58" src="images/grainyp.gif" USEMAP="#top" BORDER=0></td>
</tr>
</table>
<br>

<table width="580" border=0 cellspacing=0 cellpadding=0>
<tr>
<td><center><img width="579" HEIGHT="20" src="images/bar.gif" USEMAP="#bar" BORDER=0></center><p>
<img src="images/wnewhead.gif"><br>
<img vspace="5" src="images/pixel.GIF" ALT=""></td>
</tr>
</table>
<br>

<table width="560" border=0>
<tr>
<td><table width="560" border=0>
<tr>
<td width="240" valign=top>FOR IMMEDIATE RELEASE<br>
May 20, 1999</td>

<td width="100" valign=top align=right>CONTACT:</td>
<td width="220" valign=top>Jennifer Peterson<br>
						516-803-4548<br>
								jlpeterson@rainbow-media.com
</td>
</tr>
</table>
<p>
<br>


<center>

<b>Indie Film Expert John Pierson Invites
Fans to Experience the Independent Film Channel; Nine City National Tour
Kicks Off Tuesday, May 25</b>
</center>
<p>

<b>NEW YORK--May 25, 1999--
<p>

Author/Producer/Career-Booster Carries
the Indie Spirit Coast to Coast
<p>

Film Fans Nationwide Invited to
Free Screening and Lecture</b><p>


Indie is everywhere. The independent film movement has held the
attention of fans, writers, critics, actors and directors across the
country and around the world. Film festivals, awards ceremonies,
magazine covers, even the music industry - everywhere you look, indie
has been there. Beginning on Tuesday, May 25, The Independent Film
Channel (IFC) takes to the road for a three-week adventure, bringing the
independent spirit to nine cities across the country.
<p>

Fresh from the Cannes International Film Festival, John Pierson, the
creator and host of IFC's original signature series Split Screen, and
author of the acclaimed book Spike, Mike, Slackers & Dykes, hits the
open road for a cross-country tour, bringing his patented indie wit and
wisdom with him. From Cherry Hill, New Jersey to Sacramento, California,
film fans are invited to hang with John for a first-hand look behind the
scenes of the indie film world.
<p>


Tour dates/locations are as follows:
<p>

<table width="430" border=0 cellpadding=5>
<tr>
<td width="30"><br></td>
<td width="200" valign=top><b>Cherry Hill, NJ</b></td>
<td width="200" valign=top>Tuesday, May 25</td>
</tr>

<tr>
<td width="30"><br></td>
<td><b>Philadelphia, PA</b></td>
<td>Wednesday, May 26</td>
</tr>

<tr>
<td width="30"><br></td>
<td><b>Columbus, OH</b></td>
<td>Thursday, May 27</td>
</tr>

<tr>
<td width="30"><br></td>
<td><b>Montgomery Cty., MD</b></td>
<td>Wednesday, June 2</td>
</tr>

<tr>
<td width="30"><br></td>
<td><b>Indianapolis, IN</b></td>
<td>Thursday, June 3</td>
</tr>

<tr>
<td width="30"><br></td>
<td><b>Ft. Lauderdale, FL</b></td>
<td>Monday, June 7</td>
</tr>

<tr>
<td width="30"><br></td>
<td><b>Waco, TX</b></td>
<td>Thursday, June 10</td>
</tr>

<tr>
<td width="30"><br></td>
<td><b>San Antonio, TX</b></td>
<td>Friday, June 11</td>
</tr>

<tr>
<td width="30"><br></td>
<td><b>Sacramento, CA</b></td>
<td>Wednesday, June 16</td>
</tr>
</table>
<p>


John Pierson is the man Entertainment Weekly calls, "one of the movers
and shakers of the independent film world." Rolling Stone called Spike,
Mike, Slackers & Dykes, his book based on a decade of experience in the
independent film business, "the most contentiously witty and revealing
view of off-Hollywood around." Pierson helped jumpstart the careers of
filmmakers like Spike Lee, Michael Moore (<b>Roger & Me</b>, <b>The Big One</b>), and
Richard Linklater (<b>Slacker</b>, <b>The Newton Boys</b>). He recently served as
Executive Producer for Kevin Smith's <b>Chasing Amy</b>, one of the most
successful independent films of in recent history.
<p>

Fans attending the each of the nine events will be treated to a night of
film and fun as John presents favorite Split Screen segments from past
episodes, as well as a sneak peek at what IFC viewers will be seeing on
the show later this season. John will also spend time doing what he does
best - dishing on the past, present and future of independent film. And
to make sure no stone is left unturned, John has set aside time for
fielding questions from fans and doling out advice to aspiring
filmmakers. Local filmmakers are encouraged to bring their own ideas and
works to the events. John is always on the lookout for the "next big
thing" - maybe he'll find it on the open road! Additional information
regarding John Pierson, the tour, Split Screen and IFC, fans can log on
to www.ifctv.com (<a href="http://www.ifctv.com">http://www.ifctv.com</a>) and www.grainypictures.com
(<a href="http://www.grainypictures.com">http://www.grainypictures.com</a>).
<p>

Split Screen has spent its first two years covering anything and
everything having to do with independent film and has featured the works
of dozens of regional filmmakers from across the country. Split Screen's
1999 Season kicked off in April with a look at the role of indie films
in the recent gubernatorial campaign waged by pro-wrestling superstar
Jesse "The Body" Ventura. Additional segments featured in Split Screen's
newest season include:
<p>

<ul>
<li> "Godzilla" Split Screen filmmakers Doug Stone and P.H. O'Brien
go all the way to Tokyo to profile the men who donned the original
rubber Godzilla suits back in the 56's and 60's, and capture their
feelings about the modern-day, computer-generated, Madison Square
Garden-stomping version.
<p>
        
<li>"Palm Springs Follies" Split Screen's own Amy Elliot and Lizzy
Donius return to the spirit of the MGM musical era as they join the
Mills Brothers and the ageless chorus of the all-singing, all dancing
Palm Springs Follies.   
<p>


<li> "The Fabulous Stains" Sara Jacobson investigates why people like
Courtney Love have created a legend out of an unreleased punk-era
Paramount film entitled Ladies and Gentlemen, The Fabulous Stains. Find
out what Diane Lane, Laura Dern, Ray Winstone, Christine Lahti, Lou
Adler, Nancy Dowd and a couple of ex-Sex Pistols have in common.
</ul>

<p>

IFC is committed to showcasing films and original series struck from the
creative vision of indie film's most compelling new and important
filmmakers. The network will present between 50-60 feature-length titles
each month, including <b>Trainspotting</b>, <b>El Mariachi</b>, <b>Clerks</b>, <b>Time Bandits</b>
and <b>The Year My Voice Broke</b>. Films recently added to the IFC collection
include: <b>Swimming with Sharks</b> (Kevin Spacey), <b>Box of Moonlight</b> (John
Turturro), <b>Chinese Box</b> (Jeremy Irons) and <b>Love and a .45</b> (Renee
Zellweger), as well as indie hits <b>The Full Monty</b>, <b>The Ice Storm</b>, <b>She's
the One</b> and <b>Slums of Beverly Hills</b>. IFC's films are presented unedited
and uninterrupted, spotlighted in distinctive strands such as All-Access
IFC and The Greg the Bunny Show.
<p>

The Independent Film Channel (IFC), managed and operated by Bravo
Networks, is the first channel dedicated to independent film presented
24 hours a day, uncut and commercial-free. The Independent Film Channel,
reaching more than 23 million homes on a full-time basis, is the most
widely distributed channel dedicated to independent film on television.


</td>
</tr>

</table>
<br>

<img vspace="20" src="images/pixel.GIF" ALT=""><br>

{% include footer.html %}
<p>

<center><font face="courier, monaco" color="#555555" size="1">Disclaimer: Do not send scripts!  We won't read them because we don't
produce films from the script stage.<p>

&copy; 1997 - 1999 Grainy Pictures, Inc.</font>


<!-- Begin Client Side Imagemap -->
{% include barmap.html %}
		

{% include topmap.html %}
		
</body>
</html>
