---
---
<html>
<head>
<title>Grainy Pictures, Inc. - R.I.P. Split Screen?</title>
</head>

<body BACKGROUND="images/bg.gif" LINK="#003366" VLINK="#003366">

<center>

<table width="580" border=0 cellspacing=0 cellpadding=0>
<tr>
<td height="67" width="580" valign=top><img vspace="1" WIDTH="1" HEIGHT="1" src="images/pixel.GIF" ALT=""><br>
<a href="book/index.html"><img align=right WIDTH="162" HEIGHT="60" src="images/spikead.gif" BORDER=0></a><img WIDTH="362" HEIGHT="58" src="images/grainyp.gif" USEMAP="#top" BORDER=0></td>
</tr>
</table>
<br>

<table width="580" border=0 cellspacing=0 cellpadding=0>
<tr>
<td><center><img width="579" HEIGHT="20" src="images/bar.gif" USEMAP="#bar" BORDER=0><p>
<img src="images/rip1.jpg"></center><br>
<img vspace="5" src="images/pixel.GIF" ALT=""></td>
</tr>
</table>
<br>

<table width="540" border=0>
<tr>
<td><font face="arial, helvetica, sans-serif">


<center>
<table width="275">
<tr>
<td>
<ul>
<li> <a href="splitscreen2/epguide.html">The Split Screen Episode Guide</a><br>

<li> <a href="http://www.grainypictures.com/splitscreen2/images.html">Split Screen Images</a><br>

<li> 
<a href="http://www.grainypictures.com/splitscreen2/press/index.html">Split Screen Press</a>
</ul></td>
</tr>
</table>
</center>


<p>

<table cellpadding=5 align=right>
<tr>
<td valign=top><img src="images/offshoots.gif"><br>
<table width="161" cellpadding=0 cellspacing=0 border=0>
<tr>
<td BGCOLOR="#CCCCCC" align=center><a href="http://www.batboy-themusical.com/"><img src="images/batboy.gif" BORDER=0></a><p>
<a href="http://www.howsyournews.com/"><img src="images/hyn.gif" BORDER=0></a><br>
<a href="http://www.grainypictures.com/blairwitch/index.html"><img src="images/bwitch.gif" BORDER=0></a></td>
</tr>
</table>
<img src="images/offbottom.gif">

</td>
</tr>

</table>

<font size="+1"><b>R.I.P. Split Screen 1997-2001</b></font><p>

Split Screen started with a bang on both The Independent Film Channel and Bravo in 1997.  Whether it featured Christopher Walken cooking, Godzilla stomping, Jay, Silent Bob & Bob the Mailman dancing, or Matt Damon and Ed Norton gambling, our magazine format show covered the waterfront.  Four years and 66 episodes later, it ended with a whisper.
<p>

During the broadcast of the Fall, 2000 season, the one that kicked off with our virgin voyage to Fiji's 180 Meridian Cinema, we decided to end production of the series and so informed IFC.  There was never any official announcement because I wasn't sure what to say.  In part, our core collaborative group of enterprising producers began to run out of the fresh, new ideas that seemed to get viewers hooked on the show.  At the same time, we sensed a growing indifference from IFC.  It's not as if they begged us to continue.  Since cable television recycles everything, we assumed they would showcase the Split Screen library for the remaining years of its licensed term - and nobody would notice we stopped.  Sadly, IFC put the show in mothballs in April, 2001.
<p>

This sudden, unexplained action made me a bit peevish.  It didn't help that our regular Monday 8pm slot was turned over to a short-lived show from the nearly forgotten internet company ifilm.  I forgot the manners my mother taught me.  Instead of expressing deep gratitude for the lengthy run, I let out the dogs of sarcasm to attack the quality of tv executives and some of the early titles in the IFC Films line-up.
<p>

Well I still regret losing Split Screen's great champions Jonathan Sehring and Caroline Kaplan to feature films.  But our loss was the movie world's gain.  I can still take a few jabs at the silly hoopla surrounding Girlfight (please don't hit me Michele Rodriguez).  But either as producers or distributors, the IFC Films brain trust showed everyone the proof is in the pudding with the holy trinity of Monsoon Wedding, Y Tu Mama Tambien, and , the surprise of a lifetime, My Big Fat Greek Wedding. 
<p>

As a twenty year veteran of the feature film scene prior to the creation of Split Screen, I know that's where many in the tv industry really want to be.  The only reason to migrate in the opposite direction is the seeming ubiquity and easy availability of the enormous tv audience.  But even now, with Jon Favreau's Dinner For Five filling our slot, the vast majority of America can't get IFC.  Bravo's ad-supported move into the cable mainstream made NBC decide it was worth $1.25 billion to own the channel showing its own West Wing repeats.  We really wanted to try something very off-center and attract lots of viewers at the same time - a homemade cult hit.
<p>

Split Screen was great fun while it lasted.  What's the legacy?  Our 100,000 regular viewers got 
a first look at the amazing raw material that eventually became The Blair Witch Project, 
American Movie, Waking Life, and the HBO/Cinemax documentary How's Your News? to name just 
a few.  Where else on tv could you see 
<a href="http://www.grainypictures.com/splitscreen2/contents21.html">cows go to a drive-in</a>, 
<a href="http://www.grainypictures.com/splitscreen2/ss23.html">goats eat an RV</a>, a 
<a href="http://www.grainypictures.com/splitscreen2/ss23.html">self-taught stuntman stage 
multi-car collisions in a gravel pit</a>, 
<a href="http://www.grainypictures.com/splitscreen2/ss42.html">a camera spiral down 
a sewer pipe</a>, 
<a href="http://www.grainypictures.com/splitscreen2/contents19.html">a draft resister shoot himself 
in the foot</a>, or a private detective make art 
films out of surveillance footage?   
<p>

The years pass.  People forget.  Split Screen is nowhere to be seen on the 
airwaves, and we never quite managed to package a video & dvd deal.  There seems 
to be a lot of interest in my main man Kevin Smith's frequent appearances.  As for 
the rest, keep the faith.  And in the meantime, <a href="/splitscreen2">read all about each and every segment 
we ever did in the Episode Guide</a>.   

<p>



<img vspace="20" src="images/pixel.GIF" ALT=""><br>

{% include footer.html %}
<p>

<center><font face="courier, monaco" color="#555555" size="1">Disclaimer: Do not send scripts!  We won't read them because we don't
produce films from the script stage.<p>

{% include copyright.html %}</font>


<!-- Begin Client Side Imagemap -->
{% include barmap.html %}
		

{% include topmap.html %}
		
</body>
</html>
