---
---
<html>
<head>
<title>Grainy Pictures, Inc. - What's New - Split Screen #41</title>
</head>

<body BACKGROUND="images/bg.gif" LINK="#003366" VLINK="#003366">

<center>

<table width="580" border=0 cellspacing=0 cellpadding=0>
<tr>
<td height="67" width="580" valign=top><img vspace="1" WIDTH="1" HEIGHT="1" src="images/pixel.GIF" ALT=""><br>
<a href="book/index.html"><img align=right WIDTH="162" HEIGHT="60" src="images/spikead.gif" BORDER=0></a><img WIDTH="362" HEIGHT="58" src="images/grainyp.gif" USEMAP="#top" BORDER=0></td>
</tr>
</table>
<br>

<table width="580" border=0 cellspacing=0 cellpadding=0>
<tr>
<td><center><img width="579" HEIGHT="20" src="images/bar.gif" USEMAP="#bar" BORDER=0></center><p>
<img src="images/wnewhead.gif"><br>
<img vspace="5" src="images/pixel.GIF" ALT=""></td>
</tr>
</table>
<br>

<table width="560" border=0>
<tr>
<td><table width="560" border=0>
<tr>
<td width="240" valign=top>FOR IMMEDIATE RELEASE<br>
August 12, 1999</td>

<td width="100" valign=top align=right>CONTACT:</td>
<td width="220" valign=top>Jennifer Peterson<br>
						516-803-4548<br>
								<a href="mailto:jlpeterson@rainbow-media.com">jlpeterson@rainbow-media.com</a>
</td>
</tr>
</table>
<p>
<br>


<center>

<b>CHRISTOPHER WALKEN<br>
AND HIS EXPLODING SHRIMP<br>
HEADLINE THE SEASON PREMIERE OF<br>
SPLIT SCREEN<br>
    THIS LABOR DAY ON<br>
THE INDEPENDENT FILM CHANNEL</font></b>
</center>
<p>


<b>Indie Film Expert JOHN PIERSON
Serves Up a New Season of Epicurean Delights
Every Monday Night at 8:00PM Beginning on SEPTEMBER 6</b><p>

<br>


Back from a summer break and hungry for some action, The Independent Film Channel's (IFC) original signature series, Split Screen, has gathered the ingredients for an all-new season of the most irreverent half-hour of indie film on television.  Creator/host John Pierson and his band of filmmakers have rustled up a smorgasbord of segments that includes an exclusive cooking lesson from actor/chef  Christopher Walken.  Split Screen's '99 Fall Season comes to a boil on Monday, September 6 at 8:00PM.  New episodes premiere every Monday night at 8:00PM. 
<p>

Since Split Screen premiered on IFC in March of 1997, John Pierson and his ever-growing crew of filmmakers have traveled across the country and back, spent three months in line waiting for the premiere of <b>The Phantom Menace</b> and discovered a little film called <b>The Blair Witch Project</b>.  
This season, John is ready for a break -- he's secured himself a space behind the bar at New York City's Screening Room, where he will spend the next 10 episodes serving up concoctions from the indie community's off-beat and elite.
<p>

Split Screen's '99 Fall Season kicks-off with a look at exploding crustaceans, a director-turned-dog man and a rare Fisher-Price toy that has become a favorite tool for indie filmmakers.  Segments include:
<p>
<br>


<b><u>Cooking With Chris</u></b><p>

When Split Screen found out that actor <b>Christopher Walken</b> was looking to host his own cooking show, the opportunity was just too good to pass up.  Split Screen filmmaker 
<b>Doug Stone</b> (whose excursion to Tokyo to find the man who originated the role of <b>Godzilla</b> was a favorite segment from the '99 Spring Season) took his cameras to Manhattan's Little Italy to help make Walken's dream come true.
<p>

The Specialite du Jour is "<b>Exploding Shrimp</b>,"a favorite of Walken's and a recipe that requires three things: a skilled chef, good timing and a handy-dandy fire extinguisher.  As Walken and fellow cook <b>Julian Schnabel</b> scour a local grocery store for the necessary ingredients (limes, watercress, oranges, garlic, herbs and, of course, "really big shrimps"), he sums up the logic behind his passion for creating fine cuisine "Watching somebody cook is an interesting thing."
<p>

From the slicing and dicing to the squeezing and sauteing, Walken takes IFC viewers through the step-by-step process of creating this unique delicacy.  In the end, even Walken is surprised by the outcome -- not only is the dish a hit, but "the explosion was the best ever!"
<p>
<br>

<b><u>The Incredibly Strange Director Who Stopped Directing & Became a Dog-Man Extra!</u></b><p>

Leave it to <b>Doug Stone</b> to have back-to-back segments from both sides of the pond.  Split Screen's most well-traveled filmmaker racked up some more frequent flier miles for this exclusive visit with director <b>Richard Stanley</b>.  Stanley, who is best known for having been "relieved of his directorial duties" just four days into shooting 1996's <b>The Island of Dr. Moreau</b>, offers rare insight into the film that left critics speechless and made miniature sidekicks hip (think <b>South Park</b> and <b>Austin Powers: The Spy Who Shagged Me</b>). 
<p>

Split Screen asks Stanley the question that has been keeping film fans up at night for almost four years now "What went wrong on the <b>Moreau</b> set??"  According to Stanley, "the easiest thing for everyone to believe about Moreau is that someone was crazy.  Either I was crazy, or Brando was crazy, or Val (Kilmer) was crazy.  But really, it was all a conspiracy where everyone was played against each other -- the primal forces of evil at work."
<p>

Stanley recounts being fired and opens up to IFC about his covert attempt to find out what, exactly, was going on with the film he'd waited his whole life to make.  Stanley confesses to donning a latex mask and disguising himself as a "dog-man extra"so that he could sneak back onto the set of one of the strangest films ever made. 
<p>
 
What happened next is a story of "collective insanity"that only Split Screen could uncover.
<p>
<br>


<b><u>PXL2000</u></b><p>

Ever wonder how much those old toys in the attic could fetch?  If you happen to have a Fisher-Price PXL2000 Video Camera, you could be looking at a cool half-a-grand!  Split Screen's <b>Brian Flemming</b> takes a look at a toy that was invented for kids, but soon became a favorite of filmmakers around the globe.
<p>

The PXL2000 first hit the market in 1987.  According to the toy's inventor, James Wickstead, the goal was to create a video camera that was "as simple as possible, so that the user (a young child) could concentrate on the creative aspects of creating a film." Unfortunately for Wickstead, children found the grainy, choppy, black & white finished product frightening, and the toy was taken off shelves by Christmas of 1989.  Before long, however, experimental filmmakers began picking up the PXL2000 to shoot their own works.  The result was a new genre of film called "Pixelvision," which includes <b>Michael Almereyda's Nadja</b> (airing on IFC this October).  Today the PXL2000 is slowly becoming a thing of the past, but internet hounds can find them for sale at sites like ebay.com for the low, low price of just $499.99 (or thereabouts). 
<p>


In his former life, Pierson spent a decade searching out the best first-time American Independent features, including <b>She's Gotta Have It, Roger and Me, Slacker</b>,  and <b>Clerks</b>.  His book <u><b>Spike, Mike, Slackers & Dykes: A Guided Tour Across a Decade of Independent Cinema</b></u> chronicles these indie exploits.  Split Screen  has enabled him to spread an even wider net, including:
<p>

America's first look at "The Blair Witch Project" over two years ago -- with the show providing $10,000 of seed money to send those poor filmmakers out into the woods; Mr. Nakajima, the original Man in the Godzilla Suit, demonstrating the authoritative "Godzilla Walk;" Matt Damon and Edward Norton at the World Series of Poker in Las Vegas; the role of indie films in the recent gubernatorial campaign of wrestling superstar Jesse "The Body" Ventura;" and director David Schmoeller reliving his hair-raising experience with actor Klaus Kinski during the making of his film "Crawlspace," an experience that caused his producer to plot to have Kinski killed.
<p>

The Independent Film Channel (IFC), managed and operated by Bravo Networks, is the first channel dedicated to independent film presented 24 hours a day, uncut and commercial-free. The Independent Film Channel, reaching more than 23 million homes on a full-time basis, is the most widely distributed channel dedicated to independent film on television.

</td>
</tr>

</table>
<br>

<img vspace="20" src="images/pixel.GIF" ALT=""><br>

{% include footer.html %}
<p>

<center><font face="courier, monaco" color="#555555" size="1">Disclaimer: Do not send scripts!  We won't read them because we don't
produce films from the script stage.<p>

&copy; 1997 - 1999 Grainy Pictures, Inc.</font>


<!-- Begin Client Side Imagemap -->
{% include barmap.html %}
		

{% include topmap.html %}
		
</body>
</html>
