---
---
<html>
<head>
<title>Grainy Pictures, Inc. - What's New</title>
</head>

<body BACKGROUND="images/bg.gif" LINK="#003366" VLINK="#003366">

<center>

<table width="580" border=0 cellspacing=0 cellpadding=0>
<tr>
<td height="67" width="580" valign=top><img vspace="1" WIDTH="1" HEIGHT="1" src="images/pixel.GIF" ALT=""><br>
<a href="book/index.html"><img align=right WIDTH="162" HEIGHT="60" src="images/spikead.gif" BORDER=0></a><img WIDTH="362" HEIGHT="58" src="images/grainyp.gif" USEMAP="#top" BORDER=0></td>
</tr>
</table>
<br>

<table width="580" border=0 cellspacing=0 cellpadding=0>
<tr>
<td><center><img width="579" HEIGHT="20" src="images/bar.gif" USEMAP="#bar" BORDER=0></center><p>
<img src="images/wnewhead.gif"><br>
<img vspace="5" src="images/pixel.GIF" ALT=""></td>
</tr>
</table>
<br>

<table width="560" border=0>
<tr>
<td><table width="560" border=0>
<tr>
<td width="240" valign=top>FOR IMMEDIATE RELEASE<br>
January 11, 1999</td>

<td width="100" valign=top align=right>CONTACT:</td>
<td width="220" valign=top>Jennifer Peterson<br>
						516-803-4548<br>
								jlpeterson@rainbow-media.com
</td>
</tr>
</table>
<p>
<br>


<center>
<b>
			<i>SPLIT SCREEN</i>  SCOOPS SUNDANCE -<br>   
			IFC SIGNATURE SERIES BOOSTS<br>
			PARK CITY FESTIVAL ENTRIES
			
<p>

<i>Split Screen's</i> 1999 Season Kicks Off on Monday, April 5 at 8:00PM/ET</b>
</center>
<p>

Media attending the Sundance Film Festival this January will be on the
lookout for new stories - searching for the next big thing.  <b><i>Split Screen</i>,
the Independent Film Channel's</b> original signature series, has been there,
done that.  Now the traveling movie 'zine is stopping in Park City long
enough to celebrate the five Festival selections which have already been
the subjects of <b><i>Split Screen</i></b> segments.
<p>

If you've been checking out the first two years of <b><i>Split Screen</i></b>, you've
already gotten a first look at material from and the stories behind four
Sundance features in four different sections: <i>The Blair Witch Project</i>
(Park City at midnight), <i>Three Seasons</i> (Dramatic Competition), <i>American
Movie</i> (Documentary Competition) and <i>Radiation</i> (American Spectrum).  In
addition, <i>Lars from 1-10</i>, a short on filmmaker Lars von Trier that will be
featured in the Documentary Competition with <i>Hitchcock, Selznick and the
End of Hollywood</i>, was actually made specifically for <b><i>Split Screen</i></b>, and
later transferred to film.
<p>

<b><i>Split Screen</i></b> is the first television show made by filmmakers, with stories
to entertain anyone.  Creator and host <b>John Pierson</b> has made the trek to
Sundance 14 times with 16 films (including <i>Clerks</i> and <i>Roger & Me</i>) and one
book.  At the 1996 Festival, Pierson launched his widely acclaimed
off-Hollywood history <i>Spike, Mike, Slackers & Dykes: A Guided Tour Across
a Decade of American Independent Cinema</i>.
<p>

After taking on only two or three directors per year through 1996, Pierson
has used <b><i>Split Screen</i></b> as a platform to put over 75 filmmakers to work in
the series' first two years.   As a part of the exciting evolution of the
series, some of these talented folk have produced segments while planning
or completing features for Park City.  For example:
<p>

<font size="4"><b><i>The Blair Witch Project</i></b></font>  ("The Blair Witch Project,"  <b><i>Split 
Screen</i></b>
Episodes #10 & 11)
<p>

Pierson met co-director <b>Dan Myrick</b> at the Florida Film Festival in June,
1997.  A month later, Dan sent a mysterious and deeply creepy sample work
about three missing student filmmakers to <b><i>Split Screen</i></b>.  That tape became
the basis for a 1997 season-ending cliffhanger.  Using $10,000 in <b><i>Split
Screen</i></b> seed money, Haxan Films then shot their feature and created an even
more unsettling 1998 season premiere.  When it aired in April, it lit up
the show's website like a pinball machine on tilt.
<p>

<font size="4"><b><i>American Movie</i></b></font>  ("Making Northwestern,"  <b><i>Split Screen</i></b>  
Episode #3)
<p>

Pierson worked with director <b>Chris Smith</b> on his exceptional first feature,
<i>American Job</i> (1996 Sundance Film Festival).  At the time, Chris was
already filming the subject of his next film, moviemaker/dreamer <b>Mark
Borchardt</b>.  Smith became a regular contributor to <b><i>Split Screen's</i></b> maiden
season.  In the third episode (way back in March, 1997), he previewed some
uproarious scenes from <i>Making Northwestern</i>.  The name may have changed,
but these scenes remain intact in the painfully funny, surprisingly
poignant and recently completed feature.
<p>

<font size="4"><b><i>Radiation</i></b></font>	("Lost in Spain,"  <b><i>Split Screen</i></b> 
Episode #18)
<p>

Co-directors <b>Suki Hawley</b> and <b>Michael Galinsky</b> shot some wraparounds for
<b><i>Split Screen</i></b> in the summer of '97.  They then went off to Spain to shoot a
feature...and follow a film festival...and do a rock tour...all at once. 
While editing that feature's footage, they proposed a segment that turned
out to be a veritable <i>Radiation</i> study guide.
<p>

After a year of sticking close to home, <b><i>Split Screen</i></b> ventured out into the
great unknown in 1998 to gather material from locales that ranged far and
wide.  Two segments that were shot halfway around the world have made it
back through customs in time for their Park City appearances.
<p>

<font size="4"><b><i>Three Seasons</i></b></font>	("Three Seasons,"  <b><i>Split Screen</i></b>  
Episode #26)
<p>

<b><i>Split Screen's</i></b> #1 segment supplier, <b>Doug Stone</b>, went all the way to Saigon
last April to meet three of the Vietnamese actors from <b>Tony Bui's</b>
beautiful interlacing narrative - and to try to figure out how Bui had
been granted permission to film there when all previous American
productions had been denied.
<p>

<font size="4"><b><i>Lars From 1-10</i></b></font>	("Making the Waves,"  <b><i>Split Screen</i></b> 
Episode #24)
<p>

Travel is just one of director <b>Lars von Trier's</b> (<i>Breaking the Waves</i>) many
phobias.  He also avoids doing interviews, which makes it all the more
impressive that <b><i>Split Screen</i></b> filmmakers <b>Shari Roman</b> and <b>Sophie Fiennes</b>
tracked him down at home in Copenhagen.  The two simply gave him a piece
of chalk and he explained his ten rules of Dogma 95.
<p>

Still more <b><i>Split Screen</i></b> contributing directors are Park City-bound this
year:
<p>

<b>Tanya Hamilton</b> hung out with Harlem video bootleggers and Jamaican digital
video artists during the 1998 season.   Now Tanya's screenplay, <i>Stringbean
and Marcus</i>, has been selected for the prestigious January Sundance
Writer's Lab.
<p>

<b>Donal Lardner Ward's</b> new feature, <i>The Suburbans</i>, was finished in the nick
of time to receive a special TBA screening slot.  Don hopes to turn a '97
<b><i>Split Screen</i></b> segment he shot in Bosnia about two aspiring young American
capitalists into his next feature project.  Did someone say Sundance 2000?
<p>

As <b>IFC's</b> signature series, <b><i>Split Screen</i></b> wants to stay way ahead of the
"normal" discovery curve.  <b>The new 1999 season</b> kicks off on <b>Monday, April
5 at 8:00PM/ET, exclusively on The Independent Film Channel</b>.  Tune in
every Monday night - you just night get a glimpse of the next big thing
(or something even better)!
<p>

The Independent Film Channel (IFC), managed and operated by Bravo
Networks, is the first channel dedicated to independent film presented 24
hours a day, uncut and commercial-free.  The Independent Film Channel,
reaching more than 23 million homes on a full-time basis, is the most
widely distributed channel dedicated to independent film on television.

</td>
</tr>

</table>
<br>

<img vspace="20" src="images/pixel.GIF" ALT=""><br>

{% include footer.html %}
<p>

<center><font face="courier, monaco" color="#555555" size="1">Disclaimer: Do not send scripts!  We won't read them because we don't
produce films from the script stage.<p>

&copy; 1997 - 1999 Grainy Pictures, Inc.</font>


<!-- Begin Client Side Imagemap -->
{% include barmap.html %}
		

{% include topmap.html %}
		
</body>
</html>
