---
---
<html>
<head>
<title>Spike Mike Reloaded - Table of Contents</title>
</head>

<body BACKGROUND="../images/bg.gif" LINK="#003366" VLINK="#003366">

<center>

<table width="580" border=0 cellspacing=0 cellpadding=0>
<tr>
<td height="67" width="580" valign=top><img vspace="1" WIDTH="1" HEIGHT="1" src="../images/pixel.GIF" ALT=""><br>
<a href="index.html"><img align=right WIDTH="162" HEIGHT="60" src="../images/spikead.gif" BORDER=0></a><img WIDTH="362" HEIGHT="58" src="../images/grainyp.gif" USEMAP="#top" BORDER=0></td>
</tr>
</table>
<br>

<table width="580" border=0 cellspacing=0 cellpadding=0>
<tr>
<td><center><img width="579" HEIGHT="20" src="../images/bar.gif" USEMAP="#bar" BORDER=0></center><br>
<img vspace="2" src="../images/pixel.GIF" ALT=""><br></td>
</tr>
</table>


<table width="580" border=0 cellspacing=0 cellpadding=0>
<tr>
<td><a href="index.html"><img WIDTH="580" HEIGHT="71" src="images/tochead.gif" BORDER=0></a></td>
</tr>
</table><p>

<table width="440" border=0>
<tr>
<td>
<img WIDTH="112" HEIGHT="35" align=right src="images/contents.gif"><br clear=all>
<img vspace="15" src="../images/pixel.GIF" ALT=""><br>


<font face="arial, helvetica" size="+1">

<b>Foreword by Kevin Smith</b><p>

<b>Out of the Jungle</b><p>


<a href="intro.html">Introduction to the Original Edition: Stranger Than Fiction</a><p>

<b>Dialogue / Leaders</b><p>

<b>A Quick and Slanted Pre-1984 History</b><p>

<b>Dialogue / Starting Point</b><p>

<b>Stranger Than Paradise and the First Golden Age</b><p>

<b>Dialogue / Paradise</b><p>

<b>Parting Gances & The New Queer Cinema</b><p>

<b>She's Gotta Have It</b>
<dl>
<dd>Tube Socks and Tube Steaks
<dd>Black and White
<dd>Birth of a Salesman
</dl>

<b>Dialogue / Be Like Spike</b><p>

<b>Working Girls and Women</b><p>

<b>Inspector Errol Morris Walks The Thin Blue Line</b><p>

<b>D.O.A.</b><p>
<dl>
<dd>The Dance Part 1
<dd>Deceased
<dd>Quantity not Quality
</dl>

<b>Dialogue / Batman and Sex</b><p>

<b>1989: The Year It All Changed</b><p>

<b>Dialogue / sex and Roger</b><p>

<b>Roger and Michael and Me</b>
<dl>
<dd>The Cinderella Syndrome
<dd>How to Make a Studio Deal
<dd>The Morning After
</dl>

<b>Dialogue / Role Models</b><p>

<b>Slacking Off</b><p>

<b>Dialogue / Straight Outta Business</b><p>

<b>The Next Soderbergh</b>
<dl>
<dd>Sundance 1990
<dd>Sundance 1991
<dd>Sundance 1992
</dl>

<b>Dialogue / Dogs</b><p>

<b>Sons of Mean Streets</b><p>

<b>Dialogue / $26,685</b><p>

<b>How Low Can a Budget Go?</b><p>

<b>Dialogue / Shannen</b><p>

<b>Amonst Jerks: Rob Weiss and the Dark Side of Overnight Success</b>
<dl>
<dd>Toll Money
<dd>Hitchcock: Who Needs Him?
<dd>Murder Ink
</dl>

<b>The Odd Couple: Sundance 1994</b><p>

<b>In Hock and Staying There</b><p>

<b>Go Fiscal: Anatomy of a Back End</b><p>

<b>A Doc In The House</b><p>

<b>Dialogue / The Clerky Boys</b><p>

<b>Epilogue: It's A Wonderful Life, July 4, 1995</b><p>


<b>The Last Word</b><p>


Appendix I<p>
Appendix II<p>
Appendix III<p>
Index
</font>



</td>
</tr>
</table>
<p>


<br>



<img vspace="20" src="../images/pixel.GIF" ALT=""><br>

{% include bookfooter.html %}
<p>

<center><font face="courier, monaco" color="#555555" size="1">Disclaimer: Do not send scripts!  We won't read them because we don't
produce films from the script stage.<p>

&copy; 1997 - 1999 Grainy Pictures, Inc.</font>


<!-- Begin Client Side Imagemap -->
{% include barmap.html %}
		

{% include topmap.html %}
		
</body>
</html>
