<html>
<head>
<title>Grainy Pictures, Inc. - Res Magazine</title>
</head>

<body marginwidth=0 marginheight=0 leftmargin=0 topmargin=0 LINK="#003366" VLINK="#003366">

<center>

<table width="100%" border=0 cellspacing=0 cellpadding=0>
<tr>
<td align=center height="80" BGCOLOR="#000000">
<table width="580" border=0 cellspacing=0 cellpadding=0>
<tr>
<td height="67" width="580" valign=top><img vspace="1" WIDTH="1" HEIGHT="1" src="/images/pixel.GIF" ALT=""><br>
<a href="/book/index.html"><img align=right WIDTH="162" HEIGHT="60" src="/images/spikead.gif" BORDER=0></a>
<img WIDTH="362" HEIGHT="58" src="/images/grainyp.gif" USEMAP="#top" BORDER=0></td>
</tr>
</table></td>
</tr>
</table>
<br>

<table width="580" border=0 cellspacing=0 cellpadding=0>
<tr>
<td><center><img width="579" HEIGHT="20" src="/images/bar.gif" USEMAP="#bar" BORDER=0><p>
<img src="/fiji/fijiphoto1.jpg"></center></td>
</tr>
</table>
<br>

<table width="540" border=0>
<tr>
<td><font face="arial, helvetica, sans-serif">

<center>
<img src="images/res.jpg"><p>


<img src="images/res1.jpg"><p>
</center>



</td>
</tr>

</table>
<br>

<img vspace="20" src="/images/pixel.GIF" ALT=""><br>

{% include footer.html %}
<p>

<center><font face="courier, monaco" color="#555555" size="1">Disclaimer: Do not send scripts!  We won't read them because we don't
produce films from the script stage.<p>

{% include copyright.html %}</font>


<!-- Begin Client Side Imagemap -->
{% include barmap.html %}
		

{% include topmap.html %}
		
</body>
</html>
