---
---
<html>
<head>
<title>Grainy Pictures, Inc. - The Missing Episode (#47)</title>
</head>

<body BACKGROUND="../images/bg.gif" LINK="#003366" VLINK="#003366">

<center>

<table width="580" border=0 cellspacing=0 cellpadding=0>
<tr>
<td height="67" width="580" valign=top><img vspace="1" WIDTH="1" HEIGHT="1" src="../images/pixel.GIF" ALT=""><br>
<a href="../book/index.html"><img align=right WIDTH="162" HEIGHT="60" src="../images/spikead.gif" BORDER=0></a><img WIDTH="362" HEIGHT="58" src="../images/grainyp.gif" USEMAP="#top" BORDER=0></td>
</tr>
</table>
<br>

<table width="580" border=0 cellspacing=0 cellpadding=0>
<tr>
<td colspan=2><center><img width="579" HEIGHT="20" src="../images/bar.gif" USEMAP="#bar" BORDER=0></center><br>
<img vspace="2" src="../images/pixel.GIF" ALT=""><br></td>
</tr>
</table>



<table width="556" border=0>
<tr>
<td>
<br>

<center><img WIDTH="556" HEIGHT="112" src="images/head.jpg"></center><p>

<table cellpadding=2>
<tr>
<td valign=top>
<font face="arial, helvetica, sans-serif">

<font size="+1"><b>The Missing Episode (#47)</b></font>
<p>

<table align=right width="160" cellpadding=5">
<tr>
<td>
<table border=0 cellspacing=0 cellpadding=0 width=150>
<tr>
<td BGCOLOR="#003366" align=center><font color="#FFFFFF" face="arial, helvetica, sans-serif" size="2"><b>Related Links</b></font></td>
</tr>

<tr>
<td BGCOLOR="#FFFFCC" valign=top><table border=0 cellpadding=3>
<tr>
            <td valign="top">&#149;</td>
            <td valign="top"><a href="http://www.slumdance.com/thugs/index.html"><font face="arial, helvetica, sans-serif" size="2">Brian Flemming's First Hand Account of <b>The Incident in Hailey</b></font></a></td>
          </tr>

<tr>
            <td valign="top">&#149;</td>
            <td valign="top"><a href="http://www.laweekly.com/ink/99/50/offbeat-.shtml"><font face="arial, helvetica, sans-serif" size="2">Willis Docu Dies Hard</b></font></a></td>
          </tr>



<tr>
            <td valign="top">&#149;</td>
            <td valign="top"><a href="http://www.laweekly.com/ink/99/40/offbeat-.shtml"><font face="arial, helvetica, sans-serif" size="2">The L.A. Weekly's story on Brian Flemming & Keythe Farley's harassment</b></font></a></td>
          </tr>

<tr>
            <td valign="top">&#149;</td>
            <td valign="top"><a href="http://www.variety.com/article.asp?articleID=1117757664"><font face="arial, helvetica, sans-serif" size="2"><b>Variety</b> - Pierson may take 'defamatory'
                              piece to tabloid TV</font></a></td>
          </tr>


<tr>
            <td valign="top">&#149;</td>
            <td valign="top"><a href="../splitscreen2/index.html"><font face="arial, helvetica, sans-serif" size="2"><b>Split Screen</b></b></font></a></td>
          </tr>
</table></td>
</tr>
</table></td>
</tr>
</table>
If you tuned in to <b>Split Screen</b> on Monday, October 18th expecting to see one of our ten "all-new" Fall '99 episodes, you saw a repeat instead. To compound the problem, we offered no explanation of any kind for the encore presentation of Christopher Walken's delightful exploding shrimp. At the time, we were in an intense negotiation with the lawyers at IFC over <b>His Own Private Idaho?</b>, a 16-minute segment in the scheduled episode about the impact of Bruce Willis on the small town of Hailey, Idaho.  Mistakenly, we felt confident that the show would air two weeks later with no one really noticing the scheduling change since IFC is not exactly NBC.  That didn't happen.
<p>

Instead, I've been threatened with a lawsuit by Bruce Willis' attorney, abandoned by IFC, and canceled by the IFP/West.  It's time to tell the story, even if, as seems likely, we're never allowed to broadcast the show.  I should immediately point out that the disgusting events that have befallen <b>Split Screen</b> can't really compare to the treatment accorded our filmmaker Brian Flemming (with his partner Keythe Farley) on a public sidewalk in Hailey.  He was detained, manhandled, intimidated, and interrogated by men who police later identified as either Bruce Willis' private security or employees of the local businesses he owned.  Due to Brian's tremendous presence of mind, it's all on digital videotape.  Apparently, someone doesn't want you to see it.
<p>

Brian Flemming and Keythe Farley, <b>Split Screen's</b> key LA-based correspondents, have contributed ten 
segments over the last three years, beginning with our very first episode in March, 1997.  They're honest, 
they're funny.  We know them, we trust them.  You may remember their evisceration of David S. Freeman's 
screenwriting seminar or their celebration of Tinseltown Studios.  In June '99, Brian read a long article in the <u>LA Weekly</u> by Nancy Rommelmann called "Hailey's Comet: How Bruce Willis Romanced and then Jilted a Small Idaho Town."  Here's the story in three acts: Bruce moves to town, Bruce buys up a lot of town, Bruce suddenly abandons town.  Brian decided to go to Hailey to ask the question "Why?" and find out how the townsfolk are feeling.  He did no stalking, nor did he ask leading questions designed to elicit negative statements about Willis.  In fact Brian and Keythe went about their work as if they were suddenly on staff at <u>60 Minutes</u>.  They consulted with Nancy Rommelmann and flew in former local journalist and Willis-watcher C.J. Karamargin as a guide.
<p>

<table align=left cellpadding="5">
<tr>
<td><img src="images/obtain.jpg"></td>
</tr>
</table>
It was just another interesting <b>Split Screen</b> small-town America story - until their last hour in town.  
Then the bad guys showed up with their harassment and threats.  Although the Hailey Police reached the scene in 
time for Brian and Keythe to get out of Dodge with their tapes intact, the whole world seems to have turned against us.  
Shortly after his return to LA, Brian received a very ominous phone call from Martin Singer, litigation counsel for Bruce Willis.  Singer denied permission for Brian to tape the conversation, so Brian taped his side of the call.  He then incorporated that material into the segment which he submitted to us in mid-September.
<p>

<table width="150" align=right cellpadding="5">
<tr>
<td><a href="et.html"><img src="images/etsm.gif" BORDER=0></a><p>

<center>
<font size="1" face="arial, helvetica, sans-serif"><a href="et.html">Read the Entertainment Weekly article</a></font>
</center></td>
</tr>
</table>
IFC was a bit nervous about the sometimes litigious Willis from the start.  After several weeks of stop-and-start vetting and attempted "risk assessment," I decided that it might not be a bad idea to demonstrate the likelihood that we would be sued.  So we took the scoop to Entertainment Weekly, 
and David Hochman put it in his "Reel World" column on October 8th. Earlier that week Hochman called 
Marty Singer for a comment and the floodgates burst.  Since my fine lawyers at Frankfurt, Garbus tell 
me that I'm entitled to do so, I've posted <a href="singer.html">Singer's four-page letter</a> threatening me and 
the IFC with a lawsuit.  If you don't have a chuckle <a href="singer.html">checking out the complete text</a>, consider the following:
<p>

<blockquote>
	"Mr. Willis has filed several lawsuits for defamation in the past and has either obtained judgments or obtained substantial settlements in all of his lawsuits for defamation.  This is not an idle threat.  If you broadcast the segment containing defamatory information about our client, be assured that you will be sued.  Govern yourself accordingly."
</blockquote>

<table align=right cellpadding="5">
<tr>
<td><img src="images/ifc.gif"></td>
</tr>
</table>

Unfortunately my strategy might have backfired.  IFC did not exactly rise to the First Amendment challenge.  And remember, this is for a show that hadn't even been broadcast, that Marty Singer hadn't (and still hasn't) even seen.  Instead, IFC came up with several pages of knee-knocking notes requiring changes in the segment which ultimately stripped all the meat off its bones.  We gave up.  I don't think the IFC is too keen on the idea of going to court with Bruce Willis.
<p>

It's extremely unsettling to have a show pulled.  Although we have a solid relationship with IFC, this has happened once before.  In the Spring '98 season, we went to Oklahoma City to do a story on the banning of <b>The Tin Drum</b> only to see our show get banned when a local judge (who we helped force into early retirement) complained to Cox Cable who complained to IFC.  I swallowed hard but gave in on that one because it was politics - Cox Cable carries IFC in dozens of places you wouldn't expect.  But why would anyone ever cave in to a bullying celebrity?
<p>

My only consolation once we reached a dead end with IFC was that I could still show the Hailey segment publicly if I dared.  Conveniently, I was scheduled to present <b>Split Screen</b> "Live" in Los Angeles with the IFP/West on October 28th.  Since the event was sponsored by IFC, I figured the IFC would withdraw their support.  They did.  What I never considered was that the strongest independent film institution in the country, the IFP/West, would cancel my appearance out of fear that Marty Singer would sue them for simply providing my venue.  Like him, they never asked to see the segment.  Even worse, they actually told both press and attendees that I had a last minute business engagement in New York.  If you were there looking for me, I'm here to tell you that the only business I had in New York was helping my kids do their homework.
<p>

<u>60 Minutes</u> hangs Jeffrey Wigand out to dry. Sundance cancels <b>Kurt & Courtney</b>.  Disney forces Miramax to give up <b>Dogma</b>.  IFC refuses to show <b>His Own Private Idaho?</b> and the IFP/West goes along for the ride.  And all because of threats - nothing more. It may be smart business, but it's a horrible way to live.

</td>
</tr>
</table>
</td>
</tr>

</table>
<br>

<img vspace="20" src="../images/pixel.GIF" ALT=""><br>

{% include footer.html %}
<p>

<center><font face="courier, monaco" color="#555555" size="1">Disclaimer: Do not send scripts!  We won't read them because we don't
produce films from the script stage.<p>

&copy; 1997-1999 Grainy Pictures, Inc.</font>


<!-- Begin Client Side Imagemap -->
{% include barmap.html %}
		

{% include topmap.html %}
		
</body>
</html>
