<html>
<head>
<title>Grainy Pictures, Inc. - Frequently Asked Questions</title>
</head>

<body BACKGROUND="../images/cbg.gif" LINK="#999900" VLINK="#999900">

<center>

<table width="580" border=0 cellspacing=0 cellpadding=0>
<tr>
<td height="67" width="580" valign=top><img vspace="1" src="../images/pixel.GIF" ALT=""><br>
<a href="../book/index.html"><img align=right WIDTH="162" HEIGHT="60" src="../images/spikead.gif" BORDER=0></a><img WIDTH="362" HEIGHT="58" src="../images/grainyp.gif" USEMAP="#top" BORDER=0></td>
</tr>
</table>
<br>

<table width="580" border=0 cellspacing=0 cellpadding=0>
<tr>
<td colspan=2><center><img width="579" HEIGHT="20" src="../images/bar.gif" USEMAP="#bar" BORDER=0></center><p></td>
</tr>
</table>
<br>

<table width="580" border=0 cellspacing=0 cellpadding=0>
<tr>
<td width="24"><br></td>
<td width="455"><img WIDTH="455" HEIGHT="100" src="http://www.grainypictures.com/faq/images/faq1.gif"></td>
<td width="101"><br></td>
</tr>
</table>
<table width="580" border=0 cellspacing=0 cellpadding=0>
<tr>
<td width="24"><br></td>
<td width="2" BGCOLOR="#000000"><br></td>
<td width="7" BGCOLOR="#FFFFFF"><br></td>
<td width="437" height="300" BGCOLOR="#FFFFFF" valign=top><img vspace="3" src="../images/pixel.GIF" ALT=""><br>
<font size="+1" face="arial, helvetica"><b>How can I contact John and Janet Pierson or anyone else at Grainy Pictures?</b></font><p>
<blockquote>
<font face="arial, helvetica"">There are two ways to contact us at Grainy. The first is via e-mail at 
<a href="mailto:janet@grainypictures.com">janet@grainypictures.com</a>. 
Before you send your messages, please make sure you have read our disclaimers and this FAQ. 
Be specific in your message, spam is a real problem.<p>


The second way is via the phone. Our voice number is: (512) 697-9547. 
<p>
</blockquote>
<p>


<font size="+1"><b>What is Grainy Pictures?</b></font><p>

<blockquote>
Check out <a href="/john/bio.html">John's bio</a> and <a href="/john/top22.html">Top 24</a>. Run by John and
Janet
                         Pierson.
</blockquote>
<p>







<font size="+1"><b>What about submitting films?</b></font><p>

<blockquote>
You're welcome to send us your 1/2" vhs tapes or DVDs, but keep in mind the following. 
We no longer work actively as producer reps, and even when we did, we were extremely 
selective, getting involved with at most one or two films a year. When you do send in 
your film, make sure to check back with us every couple of weeks until it's been seen. 
If you want 
your film returned, you must include a SASE.
</blockquote>
<p>



<font size="+1"><b>Are there other reps we recommend?</b></font><p>

<blockquote>
At this point there are dozens, if not hundreds, of 
self-declared reps
and/or completion financiers with or without portfolios.  As a matter of
policy, we have no comment on anyone.  And when you think about it, you
should quickly come to the realization that the only opinions that should
really count are those of other filmmakers who have used the services of
that rep.  That's the way we would want to be judged.
</blockquote>
<p>


<font size="+1"><b>What is Grainy's policy on accepting script submissions?</b></font><p>

<blockquote>
Please do not send scripts! We won't read them because we don't produce films from the 
script stage. Even John's longtime friends have to make him feel guilty to get him to 
read their screenplays. We read 
books, lots of books - fiction and non-fiction.
</blockquote>
<p>



<font size="+1"><b>I've just finished my first feature film, ... or I'm a young filmmaker... and I need a little advice.</b></font><p>

<blockquote>

We're getting out of the advice business. Here are some alternatives. Read <a href="/book/index.html">Spike, Mike Reloaded</a>  
to learn much of what we do know. Keep in mind that what may have worked for someone else won't 
necessarily work for you. <a href="http://www.viewaskew.com/clerks">Clerks</a> is a tremendously successful and entertaining film.. That 
doesn't mean that your version of four guys sitting around on the couch, watching TV, talking 
about being out of work and sex will be. In both your filmmaking and screening strategies, 
you should strive for originality and pay attention to your own voice, not some abstract formula.
<p>


Join your local film support organizations (like AIVF, IFP West, MidWest, North, East). 
Read Filmmaker Magazine and the Independent. Subscribe to the IndieWire. Research the 
festival circuit with an eye towards premiere policies, industry presence, press coverage, 
competition, and kind of audience to determine your best strategy. Don't get locked into 
one way of thinking. Most importantly, talk to other filmmakers both successful and not.

</blockquote>
<p>


<font size="+1"><b>When is Split Screen on?  New episodes?</b></font><p>

<blockquote>
Please see <a href="../rip.html">here for more information</a> about Split Screen and where it went.
<p>


</blockquote>
<p>


<!-- <font size="+1"><b>I can't get the Independent Film Channel (IFC).  What should I do?</b></font><p>

<blockquote>
Call your cable company to let them know how much you want to see Split
Screen and all the great films on IFC.  And while you're at it, let IFC
and Bravo know how you feel about Split Screen too:  <a href="http://www.ifctv.com">www.ifctv.com</a> and
<a href="http://www.bravotv.com">www.bravotv.com</a>.

</blockquote>
<p>




<font size="+1"><b>How do I submit a Split Screen segment idea?</b></font><p>

<blockquote>
Mail or fax. Our Contact Information can be found <a href="../contact.html">here</a>.

</blockquote>
<p>

-->

<font size="+1"><b>Can I buy a VHS copy of Split Screen?</b></font><p>

<blockquote>
Officially, not just yet. However, if you're desperate for a particular episode, please 
email us your most ardent, shameless plea. Sadly our attempts over the last year to release 
a 4 DVD Best of Split Screen
anthology got stalled. Between Chris Walken cooking exploding 
shrimp and Bruce Willis' bullies manhandling 
our camera crew, there must be an audience.

</blockquote>
<p>




<font size="+1"><b>I'd like more information on the Annual
Cold Spring Film Workshop</b></font><p>

<blockquote>
For five years starting in 1992, we held our
annual Cold Spring Film Workshop for
                         75 handpicked (generally first-time) filmmakers.
We'd meet on a
                         July weekend in a chapel overlooking the Hudson
River in Cold
                         Spring for two+ days of talking, getting to know
one another,
                         meeting some 20 other
director-producer-distributor type friends,
                         and seeing one film together. Filmmaker attendees
were
                         selected based on our interest in the work they'd
submitted to us
                         during the year. It was our way of reaching out
to a larger group of
                         filmmakers than we could accomodate as producer
reps or

completion financiers. It was low cost
(graciously underwritten by
                         Miramax in its later years) and all about
accessibility, honesty,
                         and intimacy. 
<p>


                         It was great fun while it lasted. We were
fortunate in hosting a
                         wonderful group of filmmakers and resource
friends over the five
                         years. 
<p>



</blockquote>
<p>

</td>
<td width="7" BGCOLOR="#FFFFFF"><br></td>
<td width="2" BGCOLOR="#000000"><br></td>
<td width="101" valign=top><img vspace="20" src="http://www.grainypictures.com/images/pixel.GIF" ALT=""><br>
<img WIDTH="101" HEIGHT="125" src="http://www.grainypictures.com/faq/images/bob.jpg"></td>
</tr>
</table>

<table width="580" border=0 cellspacing=0 cellpadding=0>
<tr>
<td width="24"><br></td>
<td width="455" valign=top><img WIDTH="455" HEIGHT="6" src="http://www.grainypictures.com/faq/images/faqbot.gif"></td>
<td width="101"><br></td>
</tr>
</table>


<img vspace="20" src="http://www.grainypictures.com/images/pixel.GIF" ALT=""><br>

<!--#include virtual="../footer.txt" -->
<p>

<center><font face="courier, monaco" size="1">Disclaimer: Do not send scripts!  We won't read them because we don't
produce films from the script stage.<p>

<!--#include virtual="../copyright.html" --></font>


<!-- Begin Client Side Imagemap -->
<!--#include virtual="../barmap.txt" -->
		

<!--#include virtual="../topmap.txt" -->
		
</body>
</html>
