<a href="/trailer/index.html"><img src="/images/trailer1.jpg" BORDER=0></a>
<p>

<table width="222" border=0 cellpadding=0 cellspacing=0>
<tr>
<td class=dottytop><img src="/images/recentpress.gif"></td>
</tr>




<tr>
<td class=dotty>
<a href="/press/nytimes3.html"><img src="/press/images/nytmsm.gif" BORDER=0></a><p>
I'm seated, with my mother, on a palace veranda, cooled by a breeze from the royal garden. Before us, on a dais, is an empty throne, its arms and legs embossed with polished brass, the back and seat covered in black-and-gold silk. In front of the steps to the dais, there are two columns of people, mostly men, facing one another, seated on carved wooden stools, the cloths they wear wrapped around their chests, leaving their shoulders bare.

<p>

<a class=onwhite href="/press/nytimes3.html">Read More...</a>
</td>
</tr>


<tr>
<td class=dotty>
<a href="/press/robfiji.html"><img src="/press/images/robkay.jpg" BORDER=0></a><p>

Then there's Hollywood's interpretation of the island...
<p>

To see that, check out Reel Paradise, a movie about the saga of American film maker maker John Pierson who in 2002 relocated his family 
to Taveuni for a year to show free movies at the venerable Meridian Cinema near Waiyevo.
<p>
<a class=onwhite href="/press/robfiji.html">Read More...</a>
</td>
</tr>


<tr>
<td class=dotty>
<a href="/press/dvdtalk.html"><img src="/press/images/dvdtalk.gif" BORDER=0></a><p>
<b>Interview with John and Janet Pierson - Reel Paradise</b><p>

On the latest episode of DVD Talk Radio, DVD Talk Editor Geoffrey Kleinman speaks with John and Janet Pierson about the DVD release for Reel Paradise.
<p>

<a class=onwhite href="/press/dvdtalk.html">Read More...</a>
</td>
</tr>


<tr>
<td class=dotty>
<a href="/press/austin.html"><img src="/press/images/austinsm.gif" BORDER=0></a><p>
<b>No Family Is an Island</b><br>
<font class="smallblack">BY SPENCER PARSONS</font><p>

The Piersons on 'Reel Paradise'
<p>

<a class=onwhite href="/press/austin.html">Read More...</a>
</td>
</tr>


<tr>
<td class=dotty>
<a href="/press/austin3.html"><img src="/press/images/austinsm.gif" BORDER=0></a><p>
<b>Reel Paradise: Review</b><br>
<font class="smallblack">BY Marc Savlov</font><p>

When it comes to mid-life crises, some guys buy Porsches, some nail hot blondes, 
      and some just muddle through. Freshly minted Austinite and famed producer's rep/author/gadabout John Pierson chose to relocate his entire family.
    
<p>

<a class=onwhite href="/press/austin3.html">Read More...</a>
</td>
</tr>




<tr>
<td class=dotty>
<a href="/press/npr.html"><img src="/press/images/npr.gif" BORDER=0></a><p>
<b>'Reel Paradise': Moving Theater Experience in Fiji</b><br>
<font class="smallblack">by Alex Chadwick</font><p>

American movie buff and independent filmmaker John Pierson moved his family to Fiji in 2002 in search of "the world's most remote theater."
<p>

<a class=onwhite href="/press/npr.html">Read More...</a>
</td>
</tr>



<tr>
<td class=dotty>
<img src="/images/ebert.gif"><p>
<b>Reel Paradise: Review</b><br>
<font class="smallblack">By Roger Ebert</font><p>

Steve James' new documentary, "Reel Paradise," is about a couple with similar idealism, who also move to a small town and buy the movie theater.

<p>

<a class=onwhite href="/press/ebert1.html">Read More...</a>
</td>
</tr>





<tr>
<td class=dotty>
<a href="/press/latimes3.html"><img src="/images/latimes.gif" BORDER=0></a><p>
<b>Reel Paradise: Review</b><br>
<font class="smallblack">By Kevin Crust</font><p>

MOVIE REVIEW: A family, a film house and Fiji.
<p>

<a class=onwhite href="/press/latimes3.html">Read More...</a>
</td>
</tr>


<tr>
<td class=dotty>
<a href="/press/latimes2.html"><img src="/images/latimes.gif" BORDER=0></a><p>
<b>Taking popcorn fare to paradise</b><br>
<font class="smallblack">By Merrill Balassone</font><p>

It's like moviegoing is new again when a producer shows free films in Fiji.
<p>

<a class=onwhite href="/press/latimes2.html">Read More...</a>
</td>
</tr>

<tr>
<td class=dotty>
<a href="/press/sf.html"><img src="/press/images/sfsm.gif" BORDER=0></a><p>
<b>How an American family moved to Fiji and brought Hollywood along for the ride</b><br>
<font class="smallblack">By Edward Guthmann</font><p>

After 25 years of making top-notch indie films, John Pierson needed to escape. So off to Fiji he went, bringing 
his family to begin a new life. He documented the experience in "Reel Paradise."
<p>

<a class=onwhite href="/press/sf.html">Read More...</a>
</td>
</tr>




<tr>
<td class=dotty>
<a href="/press/citybeat.html"><img src="/press/images/citybeatsm.gif" BORDER=0></a><p>
<b>Keeping It 'Reel' in Paradise</b><br>
<font class="smallblack">By ANDY KLEIN</font><p>

In 2002, well known indie film figure John Pierson - producer's rep for She's Gotta Have It, Clerks, and Roger & Me, host of IFC's Split Screen series, and author of Spike, Mike, Slackers 
& Dykes - picked up his family and moved to Fiji for a year to show free movies. 
<p>

<a class=onwhite href="/press/citybeat.html">Read More...</a>
</td>
</tr>


<tr>
<td class=dotty>
<a href="/press/laweekly.html"><img src="/press/images/laweeklysm.gif" BORDER=0></a><p>
<b>LA Weekly: Film</b><br>
<font class="smallblack">By Scott Foundas</font><p>

The final month of Pierson's quixotic quest is chronicled by documentary filmmaker Steve James in Reel Paradise and the result is an enormously warm, comic travelogue about how you can go to the ends of the earth and still not escape from temperamental 
teenagers, absentee landlords and the universal language of moving pictures.
<p>

<a class=onwhite href="/press/laweekly.html">Read More...</a>
</td>
</tr>


<tr>
<td class=dotty>
<a href="/press/nytimes2.html"><img src="/images/nyt.gif" BORDER=0></a><p>
<b>Creating a Free Cinema Off Beaten Track in Fiji</b><br>
<font class="smallblack">By STEPHEN HOLDEN</font><p>

Steve James's absorbing documentary follows a family to the rural Fijian island of Taveuni, where they showed free 
movies in the world's most remote movie theater.
<p>

<a class=onwhite href="/press/nytimes2.html">Read More...</a>
</td>
</tr>


<tr>
<td class=dotty>
<a href="/press/variety1.html"><img src="/images/varietysm.gif" BORDER=0></a><p>
<b>'Paradise' found in Fiji</b><br>
<font class="smallblack">By LILY OEI</font><p>

Indiewood came out in droves Monday to celebrate the Gotham preem of Wellspring's "Reel Paradise."
<p>

<a class=onwhite href="/press/variety1.html">Read More...</a>
</td>
</tr>


<tr>
<td class=dotty>
<a href="/press/nytimes1.html"><img src="/images/nyt.gif" BORDER=0></a><p>
<b>A Cinema So Indie It's 5,000 Miles Away</b><br>
<font class="smallblack">By David Hochman</font><p>

The Pierson's experiences running a cinema in Fiji are the subject of the documentary "Reel Paradise."
<p>

<a class=onwhite href="/press/nytimes1.html">Read More...</a>
</td>
</tr>


<tr>
<td class=dotty>
<a href="/press/indiewire.html"><img src="/images/indiewiresm.gif" BORDER=0></a><p>
<b>On Screen and In a New City, Austin Embraces The Pierson Family</b><br>
<font class="smallblack">By Eugene Hernandez</font><p>

These days, aside from traveling to a few film festivals to talk about Steve James' Miramax doc about their time in Fiji, "Reel Paradise," 
the Pierson's have become key figures within the Austin film scene.
<p>

<a class=onwhite href="/press/indiewire.html">Read More...</a>
</td>
</tr>


<tr>
<td class=dotty>
<a href="/press/variety.html"><img src="/images/varietysm.gif" BORDER=0></a><p>
<b>Variety - Reel Paradise</b><br>
<font class="smallblack">By Todd McCarthy</font><p>

 Indie film guru John Pierson goes native, sort of, in "Reel Paradise," an engaging docu about his year-long 
 stint showing free movies to the locals at what's purportedly 
 the world's most remote cinema, the 180 Meridian in Taveuni, Fiji.
<p>

<a class=onwhite href="/press/variety.html">Read More...</a>
</td>
</tr>


<tr>
<td class=dotty>
<img src="/images/ebert.gif"><p>
<b>Sundance #3: Of heart and humor</b><br>
<font class="smallblack">By Roger Ebert</font><p>

Another Sundance doc is also a wonderful portrait of an unexpected lifetime. Steve James, who directed 
 "Hoop Dreams," is here with "Reel Paradise," the story of a New Yorker named John Pierson, who distributed 
 and represented the films of Spike Lee, Kevin Smith and many other indie directors, 
 and hosted "Split Screen," an IFC program on independent films.
<p>

<a class=onwhite href="/press/ebert.html">Read More...</a>
</td>
</tr>


<tr>
<td class=dotty>
<img src="/images/stevejames.jpg"><p>
<b>Paradise Found</b><br>
<font class="smallblack">By Bill Chambers</font><p>

Hoop-dream master Steve James on his latest film, REEL PARADISE
<p>

<a class=onwhite href="/press/filmfreaks.html">Read More...</a>
</td>
</tr>


<tr>
<td class=dotty><img src="/images/latimes.gif"><p>
<b>Isle of Forgotten Fans</b><br>
<font class="smallblack">By John Pierson</font><p>

 I recently became the proud owner of the world's most remote movie theater. A year from now, you could be wearing a T-shirt that says, "I saw it at the 180 Meridian Cinema." At least that's how I see it.
 <p>

<a class=onwhite href="/press/latimes.html">Read More...</a>

</td>
</tr>


<tr>
<td class=dotty><img src="/images/nyt.gif"><p>
<b>Fiji Favorites: Guys in Dresses</b><br>
<font class="smallblack">By Dave Kehr</font><p><p>

The Piersons are back, and the New York independent film community is happy to see them home.
 <p>
 
<a class=onwhite href="/press/nytimes.html">Read More...</a>

</td>
</tr>

<tr>
<td class=dotty align=center><a href="/press/index.html"><img src="/images/morepress.gif" BORDER=0></a></td>
</tr>


</table><p>


<table width="222" border=0 cellpadding=0 cellspacing=0>

<tr>
<td class=dottya align=center>
<a href="/photos.html"><img src="/images/photosm.jpg" BORDER=0></a><br>

<a href="/photos.html"><img src="/images/photostext.gif" BORDER=0></a>


</td>
</tr>




</table>

<p>

<table width="222" border=0 cellpadding=0 cellspacing=0>

<tr>
<td class=dottya align=center>
<a href="/music.html"><img src="/images/music.gif" BORDER=0></a>
</td>
</tr>
</table>
<p>

<table width="222" border=0 cellpadding=0 cellspacing=0>

<tr>
<td class=dottya align=center>
<a href="/links.html"><img src="/images/links.gif" BORDER=0></a>


</td>
</tr>
</table>
<p>
