---
---
<html>
<head>
<title>Grainy Pictures, Inc. - Answer Archive</title>
</head>

<body BACKGROUND="../images/bg.gif" LINK="#003366" VLINK="#003366">

<center>

<table width="580" border=0 cellspacing=0 cellpadding=0>
<tr>
<td height="67" width="580" valign=top><img vspace="1" WIDTH="1" HEIGHT="1" src="../images/pixel.GIF" ALT=""><br>
<a href="../book/index.html"><img align=right WIDTH="162" HEIGHT="60" src="../images/spikead.gif" BORDER=0></a><img WIDTH="362" HEIGHT="58" src="../images/grainyp.gif" USEMAP="#top" BORDER=0></td>
</tr>
</table>
<br>

<table width="580" border=0 cellspacing=0 cellpadding=0>
<tr>
<td><center><img width="579" HEIGHT="20" src="../images/bar.gif" USEMAP="#bar" BORDER=0></center><p>
<img src="../images/answerhead.gif"><br>
<img vspace="5" src="../images/pixel.GIF" ALT=""></td>
</tr>
</table>
<br>

<table width="540" border=0>
<tr>
<td><font size="+2" face="arial, helvetica">Whither grainy pictures...</b></font><br>
<font size="1">Posted by Devin Clancy - January 15th, 1998</font><p>


I emphasize the small "g" in grainy. I don't mean where has your company gone or anything, but where have all the grainy
film gone? It's my impression over the last couple of years that the quintessential grainy film, shot on a shoestring, probably in
black & white, definitly on 16, is gone. You just don't see those raw, unbridled, balls to the wall film anymore in release.
Where are they? 
<p>

Now, to be fair, I'm on a limited budget, I haven't seen every film out there, and I've certainly not been to a festival recently,
so I'm coming from a limited standpoint, but it seems like the films that get made or released are so much more polished than
Clerks, She's Gotta Have it and other pillars of indie film history. Is this an eroneous impression? Am I just suffering from the
premature deaths of Washington, D.C.'s only art house theaters? Or perhaps they are there, but not being picked up by
distributors.
<p>

Now, if it is true that the grainy, self-financed, ugly but great films are extinct, is this maybe a good sign? Does it mean
talented first-time directors are finally getting the attention they've deserved all along from potential sources of financing? Or
does it mean that a select few with access to better resources are occupying the entire spectrum of independant film? I mean, it
is in one way or another a finite market. There are only so many venues for a film to get exposure. I know film production is
bigger than ever, but why is it I only seem to see low-budget films instead of no-budget films these days?
<p>

- <b>Devin Clancy, stuck in the vacuum left by the Biograph and Key</b>
<p>


p.s. loved the book, but I don't get IFC so I don't know about the show. 


<br>

<img vspace="15" src="../images/pixel.GIF" ALT=""><br>

<font size="+2" face="arial, helvetica">John Replies:</b></font><p>
In the month or so that our website has been open to the public, Janet
has very ably taken the lead in responding to all postings.  A few
questions and comments have partly engaged my interest, but yours is the
first to draw me out through its simple but crucial insight (that and
the use of the word "whither").
<p>

As "Spike, Mike...." explains, we chose the name Grainy Pictures as a
badge of honor.  When NY Times lead film critic Janet Maslin first read
the book and found herself credited as the inspiration for our moniker
as a result of her (over) use of that adjective to suggest the
characteristics you list in your third sentence, she thought I was
making fun of her.  And if she'd used "grainy" while dismissing "Clerks"
or "Go Fish", I might have.  But she really grasped the spirit of those
films and others like them, often offered her support, and only resorted
to "grainy" shorthand as a sort of consumer warning.  In our private
dictionary, we share your definition of grainy - balls to the wall and,
most of all, original.  For us "Clerks" is grainy, "Brothers McMullen"
is not - even though there's a lot of grain (not to mention barley and
malt) on the screen.
<p>

When people want to send us their work and start off by talking about
its production value (e.g. Rob Weiss and the "Big, Big, Bigger than Big
Look"), I tune out.  But at the same time when they talk about raw,
self-financed, 16mm, cheap, B&W, one location, "just like 'Clerks'
without the jokes", I grimace.  If there are 900 features being produced
independently in America this year, more than 500 fit your check list
(maybe minus B&W).  The majority, unfortunately, appear to be clones of
one another and/or the inspirational sources that preceded them.
<p>

So a more intriguing question becomes, would there be a place in the
theatrical world, or even at Sundance, for "She's Gotta Have It",
"Slacker", "El Mariachi", "Clerks", "Brothers McMullen" now?!  Every
time an actor decides to direct, or an alumnus director returns, or a
previously successful producer makes more features, or Parker Posey
plays a lead, slots fill up.  Vincent Gallo doesn't make grainy
pictures, Kyra Sedgewick doesn't make grainy pictures, Larry Estes
doesn't make grainy pictures....hell Christine Vachon doesn't make
grainy pictures anymore.  Independent film has obviously become an
institution; the IFP should be renamed the IIFP when Spirit Award
nominations get coverage in USA Today.
<p>

Your town, Washington DC, is a market in transition as a result of lost
venues.  If you lived in NYC, you would have had mid, low and no budget
films (@ 100) of every size, shape, and color opening throughout 1997 -
sometimes 3 or 4 at a time.  And if you blinked, they were gone - not
just Joe Brewster's "The Keeper" but Parker Posey in "House of Yes", not
just the lesbian "Late Bloomers", but Tom DiCillo's "Box of Moonlight",
not just Salvatore Stabile's idiotic "Gravesend", but Sundance faves
"Myth of Fingerprints", and "Going All The Way."  They were all going,
going, gone with the wind - only it was more like a tiny breeze.
<p>

Before you enter the canyon of despair, I give you exhibit #1A.  In the
tradition that you yourself describe from "Stranger Than Paradise" to
"She's Gotta Have It" to "Roger & Me" to (skipping ahead) "Welcome To
The Dollhouse", last year brought us the brilliantly grainy "In The
Company of Men".  Do you agree?  (It's in color, but it feels B&W.) 
Ironically I think "In The Company of Men" was the fourth best
performing American Indie of the year - after "Eve's Bayou", "Chasing
Amy", and "Ulee's Gold".  A cause for hope, or merely the exception that
proves Devin's rule?
<p>

John Pierson
<p>

P.S.  There's a very wide range of visual artfulness within graininess. 
"She's Gotta Have It" is a beautiful film.




</td>
</tr>

</table>
<br>

<img vspace="20" src="../images/pixel.GIF" ALT=""><br>

{% include footer.html %}
<p>

<center><font face="courier, monaco" color="#555555" size="1">Disclaimer: Do not send scripts!  We won't read them because we don't
produce films from the script stage.<p>

&copy; 1997 Grainy Pictures, Inc.</font>


<!-- Begin Client Side Imagemap -->
{% include barmap.html %}
		

{% include topmap.html %}
		
</body>
</html>
