---
---
<html>
<head>
<title>Spike, Mike, Slackers & Dykes - Reviews</title>
</head>

<body BACKGROUND="../../images/bg.gif" LINK="#003366" VLINK="#003366">

<center>

<table width="580" border=0 cellspacing=0 cellpadding=0>
<tr>
<td height="67" width="580" valign=top><img vspace="1" WIDTH="1" HEIGHT="1" src="../../images/pixel.GIF" ALT=""><br>
<a href="../index.html"><img align=right WIDTH="162" HEIGHT="60" src="../../images/spikead.gif" BORDER=0></a><img WIDTH="362" HEIGHT="58" src="../../images/grainyp.gif" USEMAP="#top" BORDER=0></td>
</tr>
</table>
<br>

<table width="580" border=0 cellspacing=0 cellpadding=0>
<tr>
<td><center><img width="579" HEIGHT="20" src="../../images/bar.gif" USEMAP="#bar" BORDER=0></center><br>
<img vspace="2" src="../../images/pixel.GIF" ALT=""><br></td>
</tr>
</table>


<table width="580" border=0 cellspacing=0 cellpadding=0>
<tr>
<td><a href="index.html"><img WIDTH="580" HEIGHT="71" src="../images/reviewhead.gif" BORDER=0></a></td>
</tr>
</table><p>

<table width="580" border=0>
<tr>
<td>

<center><img src="images/globemail.gif"></center><p>


<blockquote>
<font size="+2" face="arial,helvetica"><b>The Globe and Mail</b></font><p>


<font size="+1"><b>Deal maker gives films the Midas touch</b></font><p>

A review by John Doyle - February 23rd, 1996<p>


Even if you're the sort of fanatic who studies the credits at the beginning and end of movies, you 
probably haven't heard of John Pierson. He's not a movie producer or director and, if his name appears 
at all in the credits, it's in the "Thanks to . . ." section. Still, Pierson is a legend in American 
cinema. He's a young deal maker, the man every independent filmmaker wants to enlist to get the movie 
shown at Sundance or the Toronto Film Festival and, ultimately distributed by Miramax or Fine Line Features. 
Pierson has been doing that now for 10 years, and this book is a marvellously entertaining, educational 
and caustic account of the rise of American independent filmmaking.
<p>


If you're not sure what "independent" means, the clue is in the title of the book - Spike Lee's She's 
Gotta Have It, Michael Moore's Roger & Me, Richard Linklater's Slacker and Rose Troche's Go Fish are 
the kind of movies Pierson loves and loves to handle, so, he turned all of them into hits.
<p>

It all started for Pierson when he got involved in finding a distributor for Bill Sherwood's ground-breaking 
1986 AIDS drama, Parting Glances. Pierson wasn't a deal maker then - he'd been programming European and 
classic American movies at a New York art-house movie theatre and he had a junior job with a movie 
company. He just wanted to help get Parting Glances to audiences. He did, and to his surprise, he got 
a cheque for $10,000 out of the deal. That's when Spike Lee turned up with an unfinished film called She's 
Gotta Have It.
<p>

After Lee got the $10,000 he needed to finish the movie, Pierson stayed with him through the festival 
circuit and the sessions with the distributors and home-video companies. It turned out that he was very 
good at spotting the right company for a movie and getting the filmmaker as much money as possible. Then 
Michael Moore showed up with an unfinished Roger & Me, and Pierson conducted a marathon campaign to make 
it famous and make Moore rich. The chapter on Roger & Me is superb - a gripping account of a bunch of 
mavericks taking money from one corporation to get to Hollywood to show the movie to another company. 
After that, Pierson got involved with Errol Morris's The Thin Blue Line, and even if he'd never handled 
another movie, he'd still be remembered for bringing two documentaries to a huge audience.
<p>

The book is better than most about movies because Pierson isn't just a fan or a back-room boy. He's 
very astute about the people he deals with and isn't afraid to say who's lovable and who's loathsome. 
A chapter about his involvement with Rob Weiss's small, glamorous thriller Amongst Friends is called 
Amongst Jerks: Rob Weiss And The Dark Side Of Overnight Success. As Pierson sees it, the independent 
filmmaker is as much prone to egotistical posturing as the Hollywood establishment. He sneers openly 
at Weiss and other young directors who become pompous, selfstyled celebrities once the milliondollar 
deal is done.
<p>

The book is also filled with useful information-facts and figures on production costs, and profit and 
loss statements about real movies. For young producers and directors there are lessons to be learned 
here, and the movie buff gets a clear understanding about how movies get made And, because Pierson 
tells the whole sordid story, one hopes it isn't 10 years before he tells more stories about the wild, 
fractious world of independent movie-making.

</blockquote>

</td>
</tr>
</table>
</center>





</td>
</tr>
</table>
<p>


<br>



<img vspace="20" src="../../images/pixel.GIF" ALT=""><br>

{% include bookfooter.html %}
<p>

<center><font face="courier, monaco" color="#555555" size="1">Disclaimer: Do not send scripts!  We won't read them because we don't
produce films from the script stage.<p>

&copy; 1997 - 1999 Grainy Pictures, Inc.</font>


<!-- Begin Client Side Imagemap -->
{% include barmap.html %}
		

{% include topmap.html %}
		
</body>
</html>
