---
---
<html>
<head>
<title>Spike, Mike, Slackers & Dykes - Reviews</title>
</head>

<body BACKGROUND="../../images/bg.gif" LINK="#003366" VLINK="#003366">

<center>

<table width="580" border=0 cellspacing=0 cellpadding=0>
<tr>
<td height="67" width="580" valign=top><img vspace="1" WIDTH="1" HEIGHT="1" src="../../images/pixel.GIF" ALT=""><br>
<a href="../index.html"><img align=right WIDTH="162" HEIGHT="60" src="../../images/spikead.gif" BORDER=0></a><img WIDTH="362" HEIGHT="58" src="../../images/grainyp.gif" USEMAP="#top" BORDER=0></td>
</tr>
</table>
<br>

<table width="580" border=0 cellspacing=0 cellpadding=0>
<tr>
<td><center><img width="579" HEIGHT="20" src="../../images/bar.gif" USEMAP="#bar" BORDER=0></center><br>
<img vspace="2" src="../../images/pixel.GIF" ALT=""><br></td>
</tr>
</table>


<table width="580" border=0 cellspacing=0 cellpadding=0>
<tr>
<td><a href="index.html"><img WIDTH="580" HEIGHT="71" src="../images/reviewhead.gif" BORDER=0></a></td>
</tr>
</table><p>

<table width="580" border=0>
<tr>
<td>
<center><img src="images/rs.gif"></center><p>

<blockquote>
<font size="+2" face="arial,helvetica"><b>Rolling Stone Magazine</b></font><p>


<font size="+1"><b>Movies Big Fish Little Fish</b></font><p>

By Peter Travers - November 30th, 1995<p>

<b>Don't let the heavily hyped return of Jim Carrey in 'Ace Ventura 2' and James Bond in 'Goldeneye' 
swallow up 'Georgia,' 'Carrington,' 'Rhythm Thief' and other vital, small films that deserve a chance 
to swim.</b>
<p>


What's the first movie OJ. Simpson sees after the not-guilty verdict? Damn if the venomously reviewed 
but widely advertised Jade isn't the datenight choice for the Juice and girlfriend Paula Barbieri. 
Never mind the piss-poor taste of selecting an erotic thriller about a husband who carves up one of 
his wife's lovers. Let's play jury and give Simpson the benefit of the doubt. Maybe he didn't know there 
were better movies out there. The renegade likes of Crumb, Living in Oblivion, Kicking and Screaming and 
The Doom Generation can't afford TV ads. And without TV promos, low-budget nonstudio films easily fit 
the definition of an independent: a film that average people never hear about.
<p>

How do we stop the sharks from gobbling the guppies? <b>John Pierson</b>, a name that average people never hear 
about, has an answer. Pierson is a mentor of film mavericks, from Spike Lee (She's Gotta Have It) to Kevin 
Smith (Clerks). That means everything from getting their films financed to often kicking their arrogant 
asses. In his book, Spike Mike, Slackers and Dykes the most contentiously witty and revealing view of 
off-Hollywood around Pierson calls on audiences to break the chain of laziness: "We don't mind thinking 
about a movie we've seen, but we show less and less of an inclination to want to think too hard about what 
to see."
<p>

The lazy stuff for hype lemmings right now is Ace Ventura: When Nature Calls and Goldeneye. The TV 
come-on for Ace 2, with Jim Carrey back as the pet detective, promises "New Animals New 
Adventures Same Hair." Written and directed by Steve Oedekerk, the film is a hearty "fuck you" to the 
critical prudes who hated the fart-obsessed original. In Africa to find the sacred animal Shikaka 
(one of many doo doo jokes), Ace frightens the natives with his pompadour, butt ventriloquism and howls 
of "AIIl righty, then." Carrey runs the comic gamut - dumb, dumber, dumbest - but there is little to 
think about except how easily we buy grossouts from a hot new star no matter how much our instincts warn 
us: Do not go in there.
<p>

Which brings us to James Bond. The trailer for Goldeneye kicks in with the familiar Bond theme and Pierce 
Brosnan, the sleek new Agent 007, moving toward the camera "You were expecting someone else?" he quips. 
Nice touch and a blunt admission that Bond needs spiffing up for the '90s Aficionados of novelist Ian 
Fleming's secret-agent man know the rap on screen Bonds from 1962 on Sean Connery (the first and best), 
George Lazenby (a one-shot joke) Roger Moore (a mannequin) and Timothy Dalton (a snooze). Connery had 
elegance sexuality and danger; his From Russia With Love and Goldfinger remain Bond's twin peaks. 
Brosnan, for all his teasing charm, is a light, unassertive TV actor (Remington Steele) with little flair 
for ballsy menace.
<p>


The plot, about arms mischief in post-Cold War Russia, has been goosed with trippy camera work and 
shoot-stabchase cash-explode pyrotechnics from director Martin Campbell. But there is also a just kidding 
timidity to the PG-13 Goldeneye. For a PC touch, Bond's new boss is a woman (Dame Judi Dench no less), 
although Dutch babe Famke Janssen as the mancrunching Xenia Onatop recalls the unlamented heyday of Bond 
girls with such feminist goading monikers as Pussy Galore, Plenty O'Toole and Holly Goodhead. 
You leave Goldeneye thinking of Bond as a relic, an old whore tricked up for a new generation of frat 
boys who aren't buying martinis shaken or stirred, gadgets long since surpassed by Die Hard and Terminator 
films, or as a killer stud out of the pre-Quentin Tarantino era of pulp fiction.
<p>

As Pierson suggests, it is time to think harder about what to see. In the onslaught of two-ton Hollywood 
epics, you might miss a raw and riveting little bundle called Georgia. Make the effort. Jennifer Jason 
Leigh gives the performance of her career as Sadie, a talent challenged amalgam of Janis Joplin and 
Courtney Love stuck on the rock fringes of Seattle while her countrystar sister, Georgia (the superb 
Mare Winningham), enjoys fame, a husband, kids and a seeming serenity. Sadie hits thc stage like she hits 
booze, heroin and men with a blazing intensity that scorches the earth and any innocent bystanders.

</blockquote>

</td>
</tr>
</table>
</center>





</td>
</tr>
</table>
<p>


<br>



<img vspace="20" src="../../images/pixel.GIF" ALT=""><br>

{% include bookfooter.html %}
<p>

<center><font face="courier, monaco" color="#555555" size="1">Disclaimer: Do not send scripts!  We won't read them because we don't
produce films from the script stage.<p>

&copy; 1997 - 1999 Grainy Pictures, Inc.</font>


<!-- Begin Client Side Imagemap -->
{% include barmap.html %}
		

{% include topmap.html %}
		
</body>
</html>
