---
---
<html>
<head>
<title>Grainy Pictures, Inc: Pierson, Janet</title>
</head>


<body BGCOLOR="#FFFFFF" BACKGROUND="images/jbg.gif" TOPMARGIN=0 LEFTMARGIN=0 MARGINWIDTH=0 MARGINHEIGHT=0>
<a href="http://www.grainypictures.com"><img src="images/janet.jpg"></a><br>

<table border=0 cellpadding=0 cellspacing=0>
<tr>
<td BGCOLOR="#CCCCCC" width="155" valign=top><a href="http://www.grainypictures.com"><img src="images/photohead.gif"></a><p>

<center>

<a href="http://www.grainypictures.com/john/images/premiere2.jpg"><img src="images/premieresm.jpg" BORDER=0></a><br>
<font face="arial, helvetica, sans-serif" size=1>John and Janet with Kevin Smith<br>

Dolly's Book Store, 1996<br>Park City, Utah</font>

<p>

<a href="http://www.grainypictures.com/john/images/telluride1983.jpg"><img src="images/telluridesm.jpg" BORDER=0></a><br>

<font face="arial, helvetica, sans-serif" size=1>
John and Janet Pierson<br>
Telluride, 1983
</font><br>
</td>

<td width="10"><br></td>

<td valign=top>
<table cellpadding=3 width="400">
<tr>
<td>
<font face="arial, helvetica, sans-serif">
Janet Pierson was formerly responsible for the vision, programming, 
and execution of the SXSW Film and TV Festival and the film and episodic 
focused content within the SXSW Conference. As of 10/3/2022 she has stepped 
into a Director Emeritus role, remaining on the programming team for SXSW 2023. 
<br><br>
Before joining SXSW for the 2009 event, Janet spent over 30 years championing independent films and filmmakers 
in a variety of roles including exhibitor, producer's rep, executive producer, and segment director of the IFC cable TV 
series Split Screen, now streaming on the Criterion Channel. She appears in Steve James' Documentary, Reel Paradise, and 
Andrew Bujalski's Beeswax. She loved curating In The Dark: Filmmakers Illuminate, Stories from the Film World for The Moth in 2001.
<p>
    
</p>
Pierson made The Guardian's Film Power 100 list in 2010 and 2013's Indiewire Influencers. She regularly serves on panels and juries for other festivals and agencies such as the NEA, ITVS, BFI, and Creative Capital. She is currently a member of the Austin Film Society Advisory Board and UT Press Advisory Board.
<p>
    
</p>
Many of the films and careers Pierson has been privileged to be involved with are highlighted here: <a href="https://www.sxsw.com/tag/sxsw-film-25/">https://www.sxsw.com/tag/sxsw-film-25/</a> and here: <a href="https://www.sxsw.com/tag/film-alumni-stories/">https://www.sxsw.com/tag/film-alumni-stories/</a>
<p>

<ul>

<li><a href="https://www.sxsw.com/film/2022/sxsw-film-tv-festival-director-janet-pierson-shifts-to-director-emeritus-role/">SXSW Film & TV Festival Director Janet Pierson Shifts to Director Emeritus Role; Claudette Godfrey Assumes Leadership</a><p>
    
<li><a href="https://www.latimes.com/entertainment-arts/movies/story/2022-10-05/janet-pierson-sxsw-film-festival-director-claudette-godfrey">The SXSW Film & TV Festival has a new head as Janet Pierson passes the baton</a><p>

<li><a href="https://www.vanityfair.com/hollywood/2018/03/janet-pierson-sxsw-profile">"We're Not Like Other Places": How Janet Pierson Transformed SXSW</a><p>
            

<li><a href="mcn.html">2008: SXSW's Janet Pierson on Stepping Up to the Plate and Out of the Shadows</a>
</ul>

 
<p>


<font face="arial, helvetica, sans-serif" size=1>

{% include johnfooter.html %}
<p>

<center><font face="courier, monaco" color="#555555" size="1">Disclaimer: Do not send scripts!  We won't read them because we don't
produce films from the script stage.<p>

{% include copyright.html %}
</font>

</td>
</tr>
</table>
</td>
</tr>
</table>

</body>
</html>
